.projects-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.project-item img {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.project-content {
    flex: 1;
    text-align: left;
}

.project-item h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.project-item p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #555;
}

.project-item a {
    display: block; /* Hace que los enlaces se apilen verticalmente */
    margin-top: 0.5rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
        text-align: center;
    }

    .project-item img {
        width: 100%;
    }
}

.dark-mode .project-item h3 {
    color: #f6f6f6;
}
